<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creakiwi.randroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.creakiwi.randroid.SimpleRandroid"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.creakiwi.randroid.MultiRandroid"
            android:label="@string/title_activity_multi_randroid" >
        </activity>
        <activity
            android:name="com.creakiwi.randroid.ListMultiRandroid"
            android:label="@string/title_activity_list_multi_randroid" >
        </activity>
        <activity
            android:name="com.creakiwi.randroid.SuspenseRandroid"
            android:label="@string/title_activity_suspense_randroid" >
        </activity>
        <activity
            android:name="com.creakiwi.randroid.RandroidServiceController"
            android:label="@string/title_activity_randroid_service_controller" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".RandroidService"></service>
    </application>
</manifest>
